@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ccc;
}

@layer base {
  h1 {
    @apply text-4.5xl font-lexend font-bold;
  }
  h2 {
    @apply font-lexend font-semibold text-4xl;
  }
  h3 {
    @apply font-lexend font-semibold text-3xl;
  }
  h4 {
    @apply font-lexend font-semibold text-2xl;
  }
  h5 {
    @apply font-lexend font-semibold text-xl;
  }
  h6 {
    @apply font-lexend font-semibold text-lg;
  }
  .h7 {
    @apply font-lexend font-semibold text-md;
  }

  .body-1 {
    @apply font-inter font-normal text-md leading-7;
  }
  .body-2 {
    @apply font-inter font-normal text-sm;
  }

  .button-big-text {
    @apply font-inter font-semibold text-md;
  }
  .button-medium-text {
    @apply font-inter font-semibold text-sm;
  }

  .input-placeholder {
    @apply font-inter font-normal text-md;
  }
  .input-label {
    @apply font-inter font-medium text-sm;
  }
}
